{% extends 'base.html' %}

{% block content %}
    <div class="center-block">
        <h1>Video Recommendation System</h1>
        <hr/>
        {% if videos %}
        <div class="video-container">
            <p> <b>Recommended</b></p>
            {% for video in videos %}
            <div class='video'>
                <a href="http://www.youtube.com/watch?v={{ video.0 }}" target="_blank">
                    <img src="{{ video.2 }}" alt='thumbnail'/>
                    <p>{{ video.1|truncatechars:"50" }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}