{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="center-block">
        <h1>Youtube video statistics</h1>
        <div class='statistic'>
            <h2>Number of videos: {{total}}</h2>
            {% for video in videos %}
            <p>{{ video.0 }} - {{ video.1 }}</span></p>
            {% endfor %}
        </div>
        <button class="crawl-btn btn btn-primary">Crawl Video </button>
    </div>
    <script type="text/javascript" src="{% static 'js/utube.js' %}"> </script>
{% endblock %}