{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="center-block">
        <h1>Youtube video statistics</h1>
        <hr/>
        <button class="crawl-btn btn btn-primary pull-right">Crawl Video</button>
        <div class='statistic'>
            <h2>Number of videos: {{ total }}</h2>
            {% for video in videos %}
                <p>{{ video.0 }} - {{ video.1 }}</span></p>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/utube.js' %}"></script>
{% endblock %}